MONGODB_URI=mongodb+srv://fiziza19_db_user:B0e53ODi4Kxv7103@biverify-compliancesyst.ezg9xxq.mongodb.net/BiVerify-ComplianceSystem?retryWrites=true&w=majority
MONGODB_DB=BiVerify-ComplianceSystem
JWT_SECRET=86c7340facbfa5181ac5ef76526f1d1f2b73b83e81fe251691f97c0e835dd2df
JWT_TTL_HOURS=12
CORS_ORIGINS=http://localhost:5173